{% extends 'AccordDevStackBundle:Default:base.html.twig' %}

{% block meta_title %}DevStack - Latest{% endblock %}

{% block contents %}

	<div class="container">
		<h2>Latest</h2>
		
		{% include 'AccordDevStackBundle:Question:list.html.twig' with {list: questions} %}
		
	</div>

{% endblock %}