body{
	margin-top: 60px;
}

.question-list .question-container .count,
.vote-container .score{
	font-size: 2em;
	font-weight: bold;
}

.vote-container a{
	font-size: 2em;
}

.question-list .question-container h3{
	margin-top: 0;
}

.row + .row{
	margin-top: 10px;
}

.solution-comment-list{
	font-size: 0.8em;
	padding-left: 20px;
}

.solution-container hr{
	margin-top: 10px;
	margin-bottom: 10px;
	
}