{% extends 'AccordDevStackBundle:Default:base.html.twig' %}

{% block meta_title %}DevStack - Edit Solution{% endblock %}

{% block contents %}

	<div class="container">
		<h2>Edit Solution</h2>
		
		<hr />
		
		{{ form(form) }}
		
	</div>

{% endblock %}